## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

clases/*
dompdf/*
font-awesome-4.3.0/*
img/*.*
less/*
para borrar/*
pdf/*
pdf_error/*
PHPExcel/*
PHPMailer/*
produccion/*
respaldo inventario/*